
a, a:hover {
  text-decoration: none;
}
  
  .project {
    text-align: center;
  }
  
  .type {
    color: #1f7665;
    font-weight: 900;
    text-transform: uppercase;
    margin: 5px 5px 0px;
    text-align: center;
  }
  
  .year {
    color: #1f7665;
    font-weight: bold;
    font-size: x-small;
    margin: 0px 0px 0px;
    text-align: center;
  }
  
  .image {
    width: 100%;
    min-height: 160px;
    max-height: 160px;
    min-width: 160x;
    max-width: 275px;
    object-position: center top;
    -o-object-fit: cover;
    object-fit: cover;
    overflow: hidden;
    
  }
  
  .image:hover {
    position: relative;
    top: 5px;
    left: 5px;
    -webkit-filter: grayscale(10%);
    filter: grayscale(10%);
  }
  
  .title {
    color: #1f7665;
    font-weight: 900;
    text-transform: uppercase;
    margin: 10px 0px 0px;
  }

  .title:hover {
    text-decoration: underline;
  }
  
  .owner {
    color: #333333;
    font-weight: bold;
    margin: 0px 0px 5px;
  }
  
  
  .classification {
    color: #333333;
    font-weight: bold;
    margin: 0px 0px 10px;
    font-size: x-small;
  }
  
  .description {
    color: #333333;
    font-weight: bold;
    margin: 0px 0px 10px;
    font-size: x-small;
  }
  .info {
    margin: 10px;
  }

  .ellipsis {
    display: -webkit-box;   
    -webkit-line-clamp: 3;   
    -webkit-box-orient: vertical;     
    overflow: hidden; 
    text-align: left;
  }

  .tags {
    color: #999;
    font-weight: bold;
    margin: 0px 0px 10px;
    font-size: x-small;
  }

.searchbox {
  display: flex;
  align-items: center;
  border: 1px solid black;
  width: 24em;
  padding: 0;
  padding-left: 3px;

}
/* Style the search box =*/
#the-filter {
  height: 2em;
  width: 20em;
  padding: 0;
  margin: 0;
  border: none;
  font-size: 17px;
  outline: none;
}

.search button {
  float: right;
  padding: 0;
  margin: 0;
  background: #fff;
  font-size: 32px;
  border: none;
  cursor: pointer;
}

.search button:hover {
  background: #ccc;
}